{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/catalogue.css' %}">
{% endblock styles %}

{% block page_content %}
    {% comment %} <div class="div-img">    
        <img src="{{ list.diagram.url }}" alt=""/>
    </div> {% endcomment %}
    
    <table class="table table-hover table-sm table-bordered">
        <thead class="table-light">
          <tr>
            <th scope="col">Start (UT)</th>
            <th scope="col">Maximum (UT)</th>
            <th scope="col">End (UT)</th>
            <th scope="col">Min freq </th>
            <th scope="col">Max freq </th>
          </tr>
        </thead>
        <tbody>
        {% for flare in flares %}
          <tr>
            <td>{{ flare.start_event|time:"H:i:s" }}</td>
            <td>{{ flare.maximum_event|time:"H:i:s" }}</td>
            <td>{{ flare.end_event|time:"H:i:s" }}</td>
            <td>{{ flare.min_freq }}</td>
            <td>{{ flare.max_freq }}</td>
          </tr>
          <tr>
        {% endfor %}
        
        </tbody>
      </table>

{% endblock page_content%}  