{% extends "base_main.html" %}


{% block tab_data %}

{% for conf in conferences %}
    <div class="conf mt-4">
        <h4 class='fw-bold' style="color: #0a4275;"> {{ conf.name_conf }} </h4>
        <div class="d-flex justify-content-between">
            <h5 class="text-muted"><em> {{ conf.date}}, {{ conf.place }} </em></h5>
            <h5><a href="{{ conf.website }}"> {{ conf.website }} </a> </h5>
        </div>
    </div>

    <div class='row g-3'>
        <h5 style="color: grey;"><b>Устные доклады</b></h5>
        {% for talk in talks %}
            {% if talk.conf_id == conf.id %}
                <div class="my-1" style="padding-left:30px;"> 
                    <a href="">[pdf]</a>
                    <b>{{ talk.name }}</b><em><u> {{ talk.first_author }},</u> {{ talk.authors }}</em>    
                </div>
            {% endif %}
        {% endfor %}
        
        <h5 style="color: grey;"><b>Постеры</b></h5>
        {% for poster in posters %}
            {% if poster.conf_id == conf.id %}
                <div class="my-1" style="padding-left:30px;"> 
                    <a href="">[pdf]</a>
                    <b>{{ poster.name }}</b><em><u> {{ poster.first_author }},</u> {{ poster.authors }}</em>  
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endfor %}

{% endblock tab_data %}
