{% extends "base_main.html" %}
{% load static %}

{% comment %} {% block styles %}
<link rel="stylesheet" href="{% static 'css/main1.css' %}">
{% endblock styles %} {% endcomment %}

{% block tab_data %}

<div class='mt-4' id='text'>
  <p class="text-lg-left"> 
    Проект посвящен выявлению и изучению общих закономерностей выделения и релаксации энергии во время солнечных
    вспышек по наблюдениям в микроволновом диапазоне. Общие закономерности изменения потока на фазе роста или 
    то, как спадает излучение определяют основной сценарий или несколько возможных сценариев развития солнечной 
    вспышки. Одна из острых проблем с которой сталкивается как физика солнечных вспышек, так и физика Солнца в 
    целом — это разница между теоретическими оценками процессов выделения и релаксации энергии и наблюдениями.
  </p>
  <p class='text-md-left'>
    Микроволновое излучение хорошо известно как чувствительный инструмент для исследования процессов энерговыделения 
    во время вспышек. Поэтому для продвижения в понимании актуальных проблем физики солнечных вспышек во время 
    проекта планируется провести исследование спектрально-временных морфологических свойств микроволнового 
    излучения солнечных вспышек в диапазоне 3-12 ГГц с использованием данных Сибирского Радиогелиографа. 
    Еще одной особенностей данного проекта является использование методов машинного обучения для распознавания 
    и анализа солнечных вспышек на временных профилях микроволнового излучения, ранее не использовавшихся для 
    решения задач в данной области физики Солнца 
  </p>
  <p class='text-md-left'>
    Результаты, полученные в ходе исследования, будут полезны для развития и тестирования численных 
    теоретических моделей процессов ускорения заряженных частиц и переноса энергии солнечных вспышек, 
    включая волновые явления. 
  </p>
</div>

<div class='mt-4'>
  <h3> Основные направления исследования проекта: </h3>
  <ul>
    <li> Развитие методов машинного обучения для распознавания солнечных вспышек на 
        профилях и динамический спектрах микроволнового излучения солнечных вспышек; </li>
    <li>  Создание каталога солнечных вспышек в микроволновом диапазоне, 
        наблюдавшихся на Сибирском Радиогелиографе с марта 2021 года; </li>
    <li> Исследование усреднённых профилей гиросинхронного микроволнового излучения солнечных вспышек </li>
    <li> Исследование свойств излучении солнечных вспышек класса А по классификации GOES в диапазоне 3-12 ГГц; </li>
    <li> Анализ признаков проявления ускорения частиц в динамике микроволнового потока солнечных вспышек на ранних фазах развития</li>
    <li> Поиск события энерговыделения, внесшие вклад в ее энергобаланс, или особенности на временных профилях долгоживущих событий, 
         свидетельствующие о проявлении волновых процессов для солнечных вспышек с длительной фазой спада.</li>
  </ul>
</div>

    {% endblock tab_data %}