<!-- catalogue/templates/catalogue/form_year_month.html -->
{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/catalogue.css' %}">
{% endblock styles %}

{% block page_content %}
    <div class="container mt-4">
        <h3> Select year and month </h3>        
        <div class='row'>
            <div class='col-md-6'>
        
                <form method="post" class='form'>
                    {% csrf_token %}
                    <div class="form-group">
                        <table>
                            {{ form.as_table }}
                        </table>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary">
                </form>

            </div>
        </div>
    </div>

    {% if records.count > 0 %}
    <h2>List event in {{ month }}, {{ year }} </h2>
    <table>
        <thead align="center">
            <tr>
                <th width="20%"> Date </th>
                <th width="20%"> Flare number </th>
                <th width="50%"> Diagram </th>
            </tr>
        </thead>
        <tbody align="center">
        {% for record in records %}
            <tr>
                <td><a href="{{ record.get_absolute_url }}"> {{ record }} </a></td>
                <td> {{ record.flare_num }} </td>
                <td> {{ record.diagram }} </td>
            </tr>
        {% endfor %}
        </tbody>


    {% elif  records.count == 0 %}
        <h2> No events in {{ month }}, {{ year }}</h2>    
    {% endif %}

{% endblock page_content %}

