<!-- catalogue/templates/catalogue/form_year_month.html -->
{% extends "base.html" %}
{% load bootstrap_icons %}
{% load custom_filters %}



{% comment %} {% block styles %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock styles %} {% endcomment %}

{% block page_content %}
    <h2 class='pb-3'> Catalogue of the flares observed by Siberian Radioheliograph </h2>

    <div class="alert alert-warning d-flex align-items-center" role="alert">
      <div>
        {% md_icon 'alert' %} The catalogue is currently in testing mode. 
      </div>
    </div>
    <div class="alert alert-info" role="alert">
      {% md_icon 'update' %} We added tags to events.
    </div>

    <div class="parent">
        <div class="div-form">
            <form method="post" class='form'>
                {% csrf_token %}
              
                <div class="form-group">
                  <table>
                    <tr>
                      <td><b>{{ form.year.label }}:</b></td>               
                      <td>{{ form.year }}</td>
                    </tr>
                    <tr>
                      <td><b>{{ form.month.label }}:</b></td>               
                      <td>{{ form.month }}</td>
                    </tr>
                  </table>
                </div>
              {% comment %} <div class="form-group">
                <b>{{ form.year.label }}:</b> {{ form.year }}
              </div>

              <div class="form-group">
                <b>{{ form.month.label }}:</b> {{ form.month }}
              </div> {% endcomment %}

              <div class="form-group">
                <b> {{ form.delete_artifacts.label }}:</b> 
                
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role='switch' id="deleteArtId" name="delete_artifacts" {% if form.delete_artifacts.value %} checked{% endif %}>
                  <label class="form-check-label" for="deleteArtId">Apply CNN</label>
                </div> 
              </div>

                <input type="submit" value="Submit" class="btn btn-primary mt-2">
            </form>

            
        </div>

        <div class="div2">
            {% if records.count > 0 %}
            <h2 class='header_list'>List of events for {{ month }}, {{ year }} </h2>
                <table class="table table-hover table-sm">
                    <thead>
                      <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Flare number</th>
                        <th scope="col">Download SRH data (Under Dev)</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for record, obj in records|zip:objects %}
                      <tr>
                        <th scope="row"><a href="{{ obj.get_absolute_url }}"> {{ record.date|date:'Y-m-d' }} </a></th>
                        <td>{{ record.date__count }}</td>
                        <td> 3-6 GHz | 6-12 GHz | 12-24 GHz </td>
                      </tr>
                      <tr>
                    {% endfor %}
                    
                    </tbody>  
                  </table>
        
        
            {% elif  records.count == 0 %}
                <h2 class='header_list'> No events in {{ month }}, {{ year }}</h2>    
            {% endif %}
        
        </div>
    </div>
{% endblock page_content %}

